import { defineConfig, devices } from '@playwright/test';

export default defineConfig({
  projects: [
    {
      name: 'Pixel 7 - Chromium',
      use: {
        ...devices['Pixel 5'], // Pixel 7은 수동 정의하거나 Pixel 5 대체 가능
        browserName: 'chromium',
      },
    },
    {
      name: 'Pixel 7 - WebKit',
      use: {
        ...devices['Pixel 5'],
        browserName: 'webkit',
      },
    },
  ],
});